@model WebApplication4.Models.movietable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>movietable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.moviename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moviename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofrelease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofrelease)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
